:root {
  --primary-color: #e4ebf2;
  --secondary-color: #465771;
  --light-blue: #318DCA;
  --dark-button: #222d41;
  --body-font-size:16px;
  --contact-font-suze:30px;
  --border-radius-button:9px;
}



* {
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;

}

    body { 
        display:block;
        background-color: var(--primary-color);

        font-weight: 300;
        font-size: var(--body-font-size);
        line-height: 1.5;
        color: var(--secondary-color);

    }


    texture, select, button, text, textarea{

      font-family: inherit
      
    }
  

    input{
      font-family:inherit;
      background-color: transparent;
      border-radius: var(--border-radius-button);
        }



    a {
        color: var(--light-blue);
        

      }

      a:visited {
        color: var(--light-blue);
        
      }


    a:hover, a:focus {
      /* No underlining when hovering over a link */   
        text-decoration: none;
        
    }

    .page-header {
      display: flex;
      width: 100%;
      padding: 20px;
    }

    .page-header__item {
      flex: 0 1 200px;
      
    }
    .page-header__item:last-child {
      flex-grow: 1;
      text-align: right;
      align-self: center;
      padding-right: 40px;
    }
    .navigation-list {
      list-style-type:none;
     
    }
    .navigation-list li {
      display: inline-block;
      margin-left: 15px;
      font-weight: 700;
      font-size: 25px;
    }

.profile{
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait{
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 30%;
}




    /*properties for Warning-text inside the contact.html*/

    .warning-text {

        font-style: italic ; }



  
/*properties for button*/



button,
.button {
        border: none;
        display: inline-block;
        font-family: inherit;
        background-color: var(--dark-button);
        color:white;
        text-decoration: none;
        padding: 10px;
        border-radius: 9px;

        border-bottom: 2.5px solid rgba(0, 0, 0, 0.3);
        border-right: 1.5px solid rgba(0, 0, 0, 0.3); ;
        -webkit-transition: 0.6s opacity;
        -o-transition: 0.6s opacity;
        transition:0.6s opacity;
        transition-property: opacity;
      }

      button:hover, .button:hover, button:focus, .button:focus  {

        opacity: 0.8;
        cursor: pointer;

        transform: scale(1.1,1.1);

      }

      


      input [type="textarea"]{

        color: brown;
      }

/* Footer info */
      footer{

        margin-top: 150px;
        word-spacing: 3px;
        clear: both;
        display: flex;
        flex-direction: column;
        text-align: center;
      }

footer a{text-decoration: none;}


      #Title{text-align: center;}


      
      .page-header img:hover, .skills-rows tr:hover{
        transform: scale(1.1,1.1);
      }



     


    @keyframes profile__portrait-spin { 
        100% { 
            transform:rotate(360deg); 
        } 
    }


    .profile__portrait:hover {

      animation:profile__portrait-spin 5s linear infinite;
  }






      /*Centering the Table on Work page*/
      
      .About {
        display: block;
        text-align: center;
        
      }

      #about-main div{
        
        padding: 50px 0px 50px 0px;
      }


      table.skills-table th, table.skills-table td{
        
        border: 2px solid black;
        border-collapse:separate;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
        box-shadow: 0px 0px 9px 0px;
        border-radius: var(--border-radius-button);

        
      }

      .skills-table{
        margin-left: auto;
        margin-right: auto;
        
      }

      .headcolumn{
        background-color: var(--dark-button);
        color: var(--primary-color);

      }


      /* CSS Animation tryouts*/
      .about-berlin{
        margin: 0 auto;
        text-align: center;
        max-width: 700px;}

      @keyframes color-change {
        from {
          fill: #edc655;
        }
        to {
          fill: #f73e14;
        }
      }
      .sun {
        animation: 2s color-change infinite alternate linear;
      }


      .cloud-front {
        animation: 12s cloud-move infinite alternate linear;
      }
      @keyframes cloud-move {
        from {
          transform: translate(0, 50px);
        }
        to {
          transform: translate(200px, 50px);
        }
      }
      .cloud-front {
        animation: 12s cloud-move infinite alternate linear;
      }

      @keyframes cloud-move-reverse {
        from {
          transform: translate(446px, 48px);
        }
        to {
          transform: translate(100px, 48px);
        }
      }

      .cloud-back {
        animation: 35s cloud-move-reverse infinite alternate linear;
      }

/*Onur Try-out - START*/
      @keyframes sun-move {
        from {
          transform: translate(0, 40px);
        }
        to {
          transform: translate(0px, 10px);
        }
      }
      .sun, .sun-circle{
        
        animation: 5s sun-move infinite alternate linear;
      }
      @keyframes horses-jump {
        from {
          transform: translate(0, -4px);

        }
        to {
          transform: translate(0, 0);
        }
      }
      .left-horse, .right-horse {
        animation: 1s horses-jump infinite alternate ;
      }
/*Onur Try-out - END*/






.grid {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-gap: 20px;
}
.grid__item {
  background-color: lightgray;
}


.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}


@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}



.contact-div tr, .contact-div th, .contact-div td{

  margin: 0 auto;
  padding: 20px 20px 10px 20px;
  border: none;
  box-shadow: none;
  text-align: left;
}

.contact-div table{
  margin:0 auto;
}

.contact-table{
  border: 3px solid black;
  padding: 10px 10px 10px 10px;
  border-radius: var(--border-radius-button);


}

.contact-table textarea{ 
  border-radius: var(--border-radius-button);
  background-color: transparent;
}

.contact-map{
 border-radius: var(--border-radius-button);
}


.Address{
  font-size: 30px;
  margin-top: 30px;
}

