
$primary-color:#e4ebf2;
$primary-color-darker: darken($primary-color, 20%);
$primary-color-lighten: lighten($primary-color, 20%);

a{
    background-color: $primary-color;
}

.bg-darker {
    background-color: $primary-color-darker;
}

.bg-lighten{
    background-color: $primary-color-lighten;
}

.navigation-list {
  list-style-type: none;

    li {
    display: inline-block;
    margin-left: 15px;

    .navigation-list__item--active {
      text-decoration: none;
    }
  }
}



%button-shared {
  border: none;
  display: flex;
  font-family: inherit;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.button {
  @extend %button-shared;
  background-color: $primary-color;
}